body {
    background-color: #505160;
    padding-top:20px;
}

.btn-success {
    background-color: #598234;
}

.bg-custom {
    background-color: #598234;
}

.navbar {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    height: auto;
    margin-bottom: 0;
    border: 0;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.maintext {
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.description {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.text-center {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 20px;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}

.contact-img {
    width: 600px;
    margin-top: 20px;
    }